@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,700;0,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    line-height: 1.7;
    color: rgba(128, 128, 128, 0.567);
}

h1, h2, h3, h4, h5, h6{
    font-weight: 800;
    color: rgba(0, 0, 0, 0.792);
}

p{
    font-weight: 500;
}

a {
    text-decoration: none;
    color: black !important;
    transition: all .4s ease;
    font-weight: 700;
}

a:hover{
    color: rgb(255, 0, 106) !important;
}

img{
    width: 100%;
}

section{
    padding: 121px 0;
}

/*============== Navbar Starts =============*/

.navbar{
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.371);
}

.btn-danger{
    transition: all .5s ease;
    color: black!important;
    margin-bottom: 14px;
}

.btn-danger:hover{
    transition: all .5s ease;
    transform: translateX(3px);
    color: blue !important;
}

/*=== Navbar M queries ===*/

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .navbar{
        width: 100vw;
    }

    .fa-bars{
        font-size: 1.5rem;
    }

    .nav-item .nav-link{
        font-size: 1.5rem;
    }

    .navbar-brand{
        font-size: 1.9rem;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .navbar{
        width: 100vw;
    }

    .fa-bars{
        font-size: 1.7rem;
    }

    .nav-item .nav-link{
        font-size: 1.7rem;
    }

    .navbar-brand{
        font-size: 2rem;
    }
}


/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    .navbar{
        width: 100vw;
    }

    .nav-item .nav-link{
        font-size: 1.8rem;
    }

    .navbar-brand{
        font-size: 2.1rem
    }
}


/*============== Navbar Ends =============*/


/*========================================================== Home Section Starts =============================================================*/

#home{
    background: linear-gradient(90deg, rgba(0, 0, 255, 0.627), rgba(255, 0, 106, 0.715)), url('.//nasa-Q1p7bh3SHj8-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.btn{
    background:rgb(255, 0, 106) !important;
    border: none;
    color: black !important;
    font-size: 1.1rem;
    font-weight: bold !important;
    transition: all .5s ease;
}

.btn-primary:hover{
    color:rgba(0, 0, 255, 0.627) !important;
    transition: all .5s ease;
    transform: translateY(7px);
}


/*#home*/
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #home{
        width: 100vw;
    }

    #home p{
        font-size: 1.3rem;
    }
    
    #home h1{
        font-size: 1.7rem;
    }

    .btn{
        font-size: 1.1rem;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #home{
        width: 100vw;
    }

    #home p{
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }
    
    #home h1{
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .btn{
        margin-top: 1.5rem;
        font-size: 1.3rem;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #home{
        width: 100vw;
    }

    #home p{
        font-size: 1.7rem;
        margin-top: 1.8rem;
    }
    
    #home h1{
        font-size: 2.5rem;
        margin-bottom: 1.9rem;
    }

    .btn{
        margin-top: 1rem;
        font-size: 1.3rem;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #home{
        width: 100vw;
    }

    #home p{
        font-size: 2.2rem;
        margin-top: 1.8rem;
    }
    
    #home h1{
        font-size: 2.7rem;
        margin-bottom: 1.9rem;
    }

    .btn{
        margin-top: 1.5rem;
        font-size: 1.7rem;
    }
}

/*========================================================== Home Section Ends =============================================================*/



/*========================================================== About Section Starts =============================================================*/
.about-content{
    background: linear-gradient(90deg, rgba(0, 0, 255, 0.627), rgba(255, 0, 106, 0.715));
}

.about-content h2{
    color: white;
}

.about-content h6{
    color: white;
    margin-top: 14px;
}

.about-content p{
    color: white;
}

.about-img{
    background: linear-gradient(90deg, rgba(255, 0, 106, 0.7), rgba(0, 0, 255, 0.7));
}
/*========================================================== About Section Ends =============================================================*/