@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,700;0,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    line-height: 1.7;
    color: rgba(128, 128, 128, 0.567);
}

h1, h2, h3, h4, h5, h6{
    font-weight: 800;
    color: rgba(0, 0, 0, 0.792);
}

h1{
    color: rgb(255, 0, 106) !important;
}

p{
    font-weight: 700 !important;
    color:rgba(0, 0, 0, 0.7) !important;
}

a {
    text-decoration: none;
    color: black !important;
    transition: all .4s ease;
    font-weight: 700;
}

a:hover{
    color: rgb(255, 0, 106) !important;
}

img{
    width: 100%;
}

section{
    padding: 121px 0;
}

.divider{
    height: 7px;
    width: 77px;
    background: linear-gradient(360deg, red, pink);
    margin: 14px auto;
    margin-top: -3px;
}

/*============== Navbar Starts =============*/

.navbar{
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.371);
}

.btn-danger{
    transition: all .5s ease;
    color: black!important;
    margin-bottom: 14px;
}

.btn-danger:hover{
    transition: all .5s ease;
    transform: translateX(3px);
    color: blue !important;
}

a.nav-link.active{
    background: -webkit-linear-gradient(rgb(254, 104, 129), red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*=== Navbar M queries ===*/

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .navbar{
        width: 100vw;
    }

    .fa-bars{
        font-size: 1.5rem;
    }

    .nav-item .nav-link{
        font-size: 1.4rem;
    }

    .navbar-brand{
        font-size: 1.7rem;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .navbar{
        width: 100vw;
    }

    .fa-bars{
        font-size: 1.7rem;
    }

    .nav-item .nav-link{
        font-size: 1.4rem;
    }

    .navbar-brand{
        font-size: 1.7rem;
    }
}


/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    .navbar{
        width: 100vw;
    }

    .nav-item .nav-link{
        font-size: 1.8rem;
    }

    .navbar-brand{
        font-size: 2.1rem
    }
}


/*============== Navbar Ends =============*/


/*========================================================== Home Section Starts =============================================================*/

#home{
    background: linear-gradient(90deg, rgba(0, 0, 255, 0.627), rgba(255, 0, 106, 0.715)), url('.//nasa-Q1p7bh3SHj8-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.btn{
    background:rgb(255, 0, 106) !important;
    border: none;
    color: black !important;
    font-size: 1.1rem;
    font-weight: bold !important;
    transition: all .5s ease;
}

.btn-primary:hover{
    color:rgba(0, 0, 255, 0.627) !important;
    transition: all .5s ease;
    transform: translateY(7px);
}


/*#home*/
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #home{
        width: 100vw;
    }

    #home p{
        font-size: 1.3rem;
    }
    
    #home h1{
        font-size: 1.7rem;
    }

    .btn{
        font-size: 1.1rem;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #home{
        width: 100vw;
    }

    #home p{
        font-size: 1.4rem;
    }
    
    #home h1{
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .btn{
        margin-top: 1.5rem;
        font-size: 1.3rem;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #home{
        width: 100vw;
    }

    #home p{
        font-size: 1.4rem;
        margin-top: 1.8rem;
    }
    
    #home h1{
        font-size: 2rem;
        margin-bottom: 1.9rem;
    }

    .btn{
        margin-top: 1rem;
        font-size: 1.3rem;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #home{
        width: 100vw;
    }

    #home p{
        font-size: 1.7rem;
    }
    
    #home h1{
        font-size: 2rem;
    }

    .btn{
        margin-top: 1.5rem;
        font-size: 1.7rem;
    }
}

/*========================================================== Home Section Ends =============================================================*/



/*========================================================== About Section Starts =============================================================*/
.about-content{
    background: linear-gradient(90deg, rgba(0, 0, 255, 0.627), rgba(255, 0, 106, 0.715));
}

.about-content h2{
    color: white;
}

.about-content h6{
    color: rgb(255, 0, 106);
    margin-top: 14px;
}

.about-content p{
    color: white;
}

.about-img{
    background: linear-gradient(90deg, rgba(255, 0, 106, 0.7), rgba(0, 0, 255, 0.7));
}

/*#about*/
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #about{
        width: 100vw;
    }

    #about p{
        font-size: 1.3rem;
    }
    
    #about h1{
        font-size: 1.7rem;
    }

    #about h2{
        font-size: 1.5rem;
    }

    #about h6{
        font-size: 1.2rem;
    }

    .btn{
        font-size: 1.1rem;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #about{
        width: 100vw;
    }

    #about p{
        font-size: 1.5rem;
    }
    
    #about h1{
        font-size: 2rem;
    }

    #about h2{
        font-size: 1.7rem;
    }
    
    #about h6{
        font-size: 1.4rem;
    }

    .btn{
        font-size: 1.3rem;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #about{
        width: 100vw;
    }

    #about p{
        font-size: 1.7rem;
    }
    
    #about h1{
        font-size: 2.1rem;
        margin-bottom: 1.9rem;
    }

    #about h2{
        font-size: 2rem;
    }
    
    #about h6{
        font-size: 1.5rem;
    }

    .btn{
        margin-top: 1rem;
        font-size: 1.3rem;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #about{
        width: 100vw;
    }

    #about p{
        font-size: 1.7rem;
    }
    
    #about h1{
        font-size: 2.7rem;
        margin-bottom: 1.9rem;
    }

    #about h2{
        font-size: 2rem;
    }
    
    #about h6{
        font-size: 1.8rem;
    }

    .btn{
        margin-top: 1.5rem;
        font-size: 1.7rem;
    }
}

/*========================================================== About Section Ends =============================================================*/


/*========================================================== Services Section Starts =============================================================*/

.service-box i{
    font-size: 1.5rem;
    color: rgb(255, 0, 106);
}

.service-box p{
    color:rgba(0, 0, 0, 0.7);
    font-weight: 700;
}


/*#services*/
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #services{
        width: 100vw;
    }

    #services p{
        font-size: 1.3rem;
    }
    
    #services h1{
        font-size: 1.7rem;
    }

    #services h5{
        font-size: 1.5rem;
    }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #services{
        width: 100vw;
    }

    #services p{
        font-size: 1.3rem;
    }
    
    #services h1{
        font-size: 1.7rem;
    }

    #services h5{
        font-size: 1.5rem;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #services{
        width: 100vw;
    }

    #services p{
        font-size: 1.3rem;
    }
    
    #services h1{
        font-size: 1.7rem;
    }

    #services h5{
        font-size: 1.5rem;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #services{
        width: 100vw;
    }

    #services p{
        font-size: 1.2rem;
    }
    
    #services h1{
        font-size: 2.2rem;
    }

    #services h5{
        font-size: 1.5rem;
    }
}
/*========================================================== Services Section Ends =============================================================*/


/*========================================================== Portfolio Section Starts =============================================================*/

.project{
    position: relative;
    overflow: hidden;
}

.project img{
    transition: all 1s ease;
}

.project a{
    width: 121px;
    height: 121px;
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100px;
    transform: translate(-50%, -50%);       /*to centr btn*/
    visibility: hidden;
    opacity: 0;
}

.project:hover img{
    transform: scale(1.4);
}

.project:hover a{
    visibility: visible;
    opacity: 1;
}


/*========================================================== Portfolio Section Ends =============================================================*/
/*========================================================== Contact Section Starts =============================================================*/

/*#contact*/
/* Small devices (landscape phones, 576px and up)*/

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #contact{
        width: 100vw;
    }

    .form-group h4{
        font-size: 1rem
    }

    .map h2{
        font-size: 2rem;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #contact{
        width: 100vw;
    }

    .form-group h4{
        font-size: 1.2rem
    }

    .map h2{
        font-size: 2.3rem;
    }
}


/*========================================================== Contact Section Ends =============================================================*/
/*========================================================== Footer Section Starts =============================================================*/

/*footer*/
footer{
    background: linear-gradient(90deg, rgba(255, 0, 106, 0.7), rgba(0, 0, 255, 0.7));
    color:white;
    width: 100vw;
}

footer p{
    font-size: 1.4rem;
    font-weight: 700;
}

.social-links i{
    font-size: 1.2rem;
    color: white;
    transition: all .4s ease;
}

.social-links i:hover{
    color: rgb(254, 104, 129);
    transition: all .4s ease;
}

/*========================================================== Footer Section Ends =============================================================*/